# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [8]:
# import numpy and pandas

import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [11]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [12]:
# Your code here:

data.head(200)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,$91080.00,NaN
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,$53076.00,NaN
10,"FINN, SEAN P",FIREFIGHTER,FIRE,F,Salary,NaN,$87006.00,NaN
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
13,"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
14,"GUNN, ISSAC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$80868.00,NaN
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
16,"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
17,"HILL, LATINA P",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
18,"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
19,"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
20,"JACKSON, ERIC",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
21,"JOYCE, SEAN G",CAPTAIN,POLICE,F,Salary,NaN,$132876.00,NaN
22,"KING, WARSHAW",CAPTAIN-EMT,FIRE,F,Salary,NaN,$136794.00,NaN
23,"KWONG, NORMAN P",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
24,"LEVEK, NATHAN L",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
25,"MACK, PAUL C",LIEUTENANT,POLICE,F,Salary,NaN,$125190.00,NaN
26,"PETERS, JOSEPH M",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
27,"MOORE, TED D",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
28,"SIMON, JOSEPH G",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
29,"MULLINS, JOHN T",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
30,"NICOL, EDWARD R",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
31,"PEASLEE, SEAN P",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
32,"PESO, JOANN M",DIR OF NUTRITION,HEALTH,F,Salary,NaN,$93876.00,NaN
33,"SPIRES, WAYNE E",CAPTAIN,FIRE,F,Salary,NaN,$128970.00,NaN
34,"RICHARDSON, BRIAN J",DEPUTY COMMISSIONER,HEALTH,F,Salary,NaN,$119772.00,NaN
35,"ROBINSON, HAROLD",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
36,"RUIZ, ERACLIO",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
37,"SANTOS, MICHAEL J",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
38,"TOLEDO, PETER H",SERGEANT,POLICE,F,Salary,NaN,$101442.00,NaN
39,"VORTES, VELMA",CLERK IV,FIRE,F,Salary,NaN,$70092.00,NaN
40,"SKOL, LARRY W",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
41,"SMITH, KEVIN W",FIREFIGHTER,FIRE,F,Salary,NaN,$87006.00,NaN
42,"STRAKA, SCOTT M",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
43,"TRAGOS, THOMAS J",CAPTAIN,FIRE,F,Salary,NaN,$128970.00,NaN
44,"VOSBURGH, GRANT",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
45,"VANEK, AMANDA J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
46,"VEGA, ANA L",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
47,"WORD, HOSEA",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
48,"YARLING, ZACHARY",POLICE OFFICER,POLICE,F,Salary,NaN,$80016.00,NaN
49,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,$101442.00,NaN
50,"AARON, KARINA",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
51,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,$97056.00,NaN
52,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,$110064.00,NaN
53,"ABARCA, ANABEL",SENIOR POLICY ANALYST,HEALTH,F,Salary,NaN,$79284.00,NaN
54,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,$19.66
55,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,$50436.00,NaN
56,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,$46.10
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60
58,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,$103350.00,NaN
59,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
60,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,$2.65
61,"ABBRUZZESE, WILLIAM J",INVESTIGATOR - IPRA II,IPRA,F,Salary,NaN,$76152.00,NaN
62,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,$80016.00,NaN
63,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
64,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,$102228.00,NaN
65,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,$84054.00,NaN
66,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,$91272.00,NaN
67,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,$111492.00,NaN
68,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$95484.00,NaN
69,"ABDULLAH, KEVIN",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
70,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,$17.50
71,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
72,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,$63480.00,NaN
73,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,$20.77
74,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
75,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,$78792.00,NaN
76,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60
77,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,$25.10
78,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,$72510.00,NaN
79,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,$110064.00,NaN
80,"ABRAHAM, GIRLEY T",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,$110064.00,NaN
81,"ABRAHAM, GODWIN K",ENGINEERING TECHNICIAN V,BUSINESS AFFAIRS,F,Salary,NaN,$101592.00,NaN
82,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,$76266.00,NaN
83,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
84,"ABRAMAVICIUS, ANNA A",SUPERVISING TRAFFIC CONTROL AIDE,OEMC,F,Salary,NaN,$60852.00,NaN
85,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,$36.21
86,"ABRAMSKI, JOHN E",AMBULANCE COMMANDER,FIRE,F,Salary,NaN,$128970.00,NaN
87,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
88,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60
89,"ABRATANSKI, MARK A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$89148.00,NaN
90,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,$44.88
91,"ABREU, EDWIN",TREE TRIMMER,STREETS & SAN,F,Hourly,40.0,NaN,$37.25
92,"ABREU, ROBERTO J",TRAFFIC SIGNAL REPAIRMAN,TRANSPORTN,F,Salary,NaN,$101712.00,NaN
93,"ABREU, ROSITA",PERSONAL COMPUTER OPERATOR III,HEALTH,F,Salary,NaN,$70092.00,NaN
94,"ABREU, VICTOR",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$99324.00,NaN
95,"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
96,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,$46.10
97,"ABUBAKER, MOHAMMED G",SENIOR ENVIRONMENTAL INSPECTOR,HEALTH,F,Salary,NaN,$80568.00,NaN
98,"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,$72510.00,NaN
99,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,$48.25
100,"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,$68616.00,NaN
101,"ABUTALEB, AHMAD H",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,$92388.00,NaN
102,"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),POLICE,F,Salary,NaN,$94524.00,NaN
103,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,$40.20
104,"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
105,"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
106,"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
107,"ACCIARI, MICHAEL G",DIVISION SUPERINTENDENT,STREETS & SAN,F,Salary,NaN,$117660.00,NaN
108,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$36.13
109,"ACCURSO, MARY K",PRESS AIDE I,MAYOR'S OFFICE,F,Salary,NaN,$66300.00,NaN
110,"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,$84054.00,NaN
111,"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
112,"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
113,"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
114,"ACEVEDO, EDWARD",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
115,"ACEVEDO, EDWIN C",FIREFIGHTER,FIRE,F,Salary,NaN,$97386.00,NaN
116,"ACEVEDO, ERIC",POLICE OFFICER,POLICE,F,Salary,NaN,$72510.00,NaN
117,"ACEVEDO, GILBERT",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$121818.00,NaN
118,"ACEVEDO, ILIA",POLICE OFFICER,POLICE,F,Salary,NaN,$80016.00,NaN
119,"ACEVEDO, JANETE",POLICE OFFICER,POLICE,F,Salary,NaN,$84054.00,NaN
120,"ACEVEDO, JASON M",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
121,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,$40.20
122,"ACEVEDO, JEFF",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
123,"ACEVEDO, JOSUE",POLICE COMMUNICATIONS OPERATOR II,OEMC,F,Salary,NaN,$54708.00,NaN
124,"ACEVEDO, MANUEL A",FIREFIGHTER,FIRE,F,Salary,NaN,$93666.00,NaN
125,"ACEVEDO, MARCO A",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,$100980.00,NaN
126,"ACEVEDO, MARISOL",SENIOR PUBLIC INFORMATION OFFICER,BUSINESS AFFAIRS,F,Salary,NaN,$93300.00,NaN
127,"ACEVEDO, MARTIN J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
128,"ACEVEDO, MIKE",AVIATION SECURITY OFFICER,AVIATION,F,Salary,NaN,$66792.00,NaN
129,"ACEVEDO, NADINE M",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
130,"ACEVEDO, RAFAEL",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
131,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,$28.48
132,"ACEVES, JUAN C",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
133,"ACEVEZ, ANTHONY E",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
134,"ACHILLES, AMBER L",CHIEF ASST CORPORATION COUNSEL,LAW,F,Salary,NaN,$127068.00,NaN
135,"ACHILLY, LISA S",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
136,"ACHTEL, SCOTT R",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$95484.00,NaN
137,"ACKERMANN, MICHAEL A",PARAMEDIC I/C,FIRE,F,Salary,NaN,$78792.00,NaN
138,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,$17.50
139,"ACOSTA, JAIME A",POLICE OFFICER,POLICE,F,Salary,NaN,$68616.00,NaN
140,"ACOSTA, JESSE A",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
141,"ACOSTA, MARK",POLICE OFFICER,POLICE,F,Salary,NaN,$68616.00,NaN
142,"ACOSTA, MARTHA A",LIBRARY ASSOCIATE,PUBLIC LIBRARY,F,Salary,NaN,$69492.00,NaN
143,"ACOSTA, MICHELE D",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
144,"ACOSTA, NATALIE",POLICE OFFICER,POLICE,F,Salary,NaN,$68616.00,NaN
145,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,$36.21
146,"ACOSTA, ROSA M",PARKING ENFORCEMENT AIDE,AVIATION,F,Salary,NaN,$60852.00,NaN
147,"ACRES, ANTHONY E",CONSTRUCTION LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,$40.20
148,"ACSVECS, ZAIREH",POLICE OFFICER,POLICE,F,Salary,NaN,$84054.00,NaN
149,"ADAIR, KENNETH R",POLICE OFFICER (ASGND AS MARINE OFFICER),POLICE,F,Salary,NaN,$91338.00,NaN
150,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,$36.21
151,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,$32.25
152,"ADAMCZYK, LAWRENCE M",FIREFIGHTER,FIRE,F,Salary,NaN,$93666.00,NaN
153,"ADAME, PEDRO",CUSTODIAL WORKER,AVIATION,F,Hourly,40.0,NaN,$21.20
154,"ADAMIAK, SIMON P",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
155,"ADAMIK, JEFFREY S",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,$100980.00,NaN
156,"ADAMIK, MATTHEW W",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,$91272.00,NaN
157,"ADAM, MICHAEL A",MOTOR TRUCK DRIVER,TRANSPORTN,F,Hourly,40.0,NaN,$35.60
158,"ADAMOW, JEFFREY W",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$89148.00,NaN
159,"ADAMS, CRAIG W",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
160,"ADAMS, DAVID E",SPECIAL EVENTS COORD III,CULTURAL AFFAIRS,F,Salary,NaN,$85008.00,NaN
161,"ADAMS, DEANIE M",LIBRARIAN II,PUBLIC LIBRARY,F,Salary,NaN,$62364.00,NaN
162,"ADAMS, DELRICE",PUBLIC HEALTH ADMINISTRATOR III,HEALTH,F,Salary,NaN,$66984.00,NaN
163,"ADAMS, DENIS H",CLINICAL THERAPIST III,POLICE,F,Salary,NaN,$100776.00,NaN
164,"ADAMS, DWAYNE D",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
165,"ADAMS, ERWIN",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,$40.20
166,"ADAMS, EULA M",DATA ENTRY OPERATOR,WATER MGMNT,F,Salary,NaN,$53076.00,NaN
167,"ADAMS, FREDERICK L",POLICE ADMINISTRATIVE CLERK,POLICE,F,Salary,NaN,$38376.00,NaN
168,"ADAMS, GARY W",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,$36.21
169,"ADAMS, GREGORY M",AVIATION SECURITY OFFICER,AVIATION,F,Salary,NaN,$63756.00,NaN
170,"ADAMS, GREGORY W",ADMINISTRATIVE ASST III,BUSINESS AFFAIRS,F,Salary,NaN,$76932.00,NaN
171,"ADAMS, JAIRUS",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
172,"ADAMS, JAMES W",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,$100980.00,NaN
173,"ADAMS JR, JERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
174,"ADAMS JR, JOHN W",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$89148.00,NaN
175,"ADAMSKI, JERRY J",FIREFIGHTER-EMT (RECRUIT),FIRE,F,Salary,NaN,$68616.00,NaN
176,"ADAMSKI, ROBERT",POLICE OFFICER,POLICE,F,Salary,NaN,$80016.00,NaN
177,"ADAMS, KRYSTA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,$20.12
178,"ADAMS, LEAH",ACCOUNTING TECHNICIAN II,COMMUNITY DEVELOPMENT,F,Salary,NaN,$66948.00,NaN
179,"ADAMS, MARJORIE E",LIBRARY PAGE,PUBLIC LIBRARY,P,Hourly,20.0,NaN,$13.15
180,"ADAMS, MATTHEW",POLICE OFFICER,POLICE,F,Salary,NaN,$72510.00,NaN
181,"ADAMS, MICHAEL A",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,$103932.00,NaN
182,"ADAMS, MICHAEL J",WATCHMAN,GENERAL SERVICES,F,Hourly,40.0,NaN,$21.98
183,"ADAMS, OLIVIA I",LEGAL SECRETARY,LAW,F,Salary,NaN,$84420.00,NaN
184,"ADAMS, QUAN R",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60
185,"ADAMS, RAYMOND B",SR PROCUREMENT SPECIALIST,PROCUREMENT,F,Salary,NaN,$68220.00,NaN
186,"ADAMS, RAYMOND T",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
187,"ADAMS, REGINALD K",PLUMBING INSPECTOR,BUILDINGS,F,Salary,NaN,$102510.00,NaN
188,"ADAMS, ROBERT L",VENTILATION AND FURNACE INSPECTOR,BUILDINGS,F,Salary,NaN,$96657.60,NaN
189,"ADAMS, ROSITA",CROSSING GUARD - PER CBA,OEMC,P,Hourly,20.0,NaN,$15.07
190,"ADAMS, RYAN",POLICE OFFICER,POLICE,F,Salary,NaN,$84054.00,NaN
191,"ADAMS, SHEILA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,$19.50
192,"ADAMS, SHERYLL A",LIBRARIAN IV,PUBLIC LIBRARY,F,Salary,NaN,$100776.00,NaN
193,"ADAMS, STANLEY",SUPVSR OF COMPENSATION,BUSINESS AFFAIRS,F,Salary,NaN,$93300.00,NaN
194,"ADAMS, TALMISE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,$28.48
195,"ADAMS, TANERA C",CIVIL ENGINEER IV,TRANSPORTN,F,Salary,NaN,$110064.00,NaN
196,"ADAMS THOMAS, CHEEAREASE R",PUBLIC HEALTH ADMINISTRATOR I,HEALTH,F,Salary,NaN,$76932.00,NaN
197,"ADAMS, TIMOTHY J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,$97440.00,NaN
198,"ADAMS, VICKY M",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
199,"ADAPON, NENITA P",ACCOUNTING TECHNICIAN I,FINANCE,F,Salary,NaN,$60972.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [39]:
# Your code here:

data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [21]:
# Your code here:

data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [22]:
# Your code here:

data.pivot_table(values = ['Name'], 
                     index = ['Department'], aggfunc=['count']).reset_index()

               Department  count
                            Name
0            ADMIN HEARNG     38
1           ANIMAL CONTRL     73
2                AVIATION   1612
3       BOARD OF ELECTION    112
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     44
6               BUILDINGS    266
7        BUSINESS AFFAIRS    168
8              CITY CLERK     85
9            CITY COUNCIL    400
10  COMMUNITY DEVELOPMENT    214
11                   COPA     17
12       CULTURAL AFFAIRS     76
13           DISABILITIES     29
14                   DoIT    101
15       FAMILY & SUPPORT    621
16                FINANCE    575
17                   FIRE   4800
18       GENERAL SERVICES    972
19                 HEALTH    516
20        HUMAN RELATIONS     17
21        HUMAN RESOURCES     68
22          INSPECTOR GEN     63
23                   IPRA     56
24                    LAW    405
25      LICENSE APPL COMM      1
26         MAYOR'S OFFICE     85
27                   OEMC   2044
28                 POLICE  12973
29           POLICE BOARD      2
30            PROCUREMENT     86
31         PUBLIC LIBRARY    932
32          STREETS & SAN   2194
33             TRANSPORTN   1103
34              TREASURER     24
35            WATER MGMNT   1878

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [150]:
hourly = data.loc[data['Salary or Hourly'] == 'Hourly']
hourly = hourly['Hourly Rate']
hourly = hourly.str.replace('$','', regex=True)
hourly = pd.to_numeric(hourly)
hourly = np.array(hourly)
hourly

array([14.51, 19.66, 46.1 , ..., 35.6 , 46.35, 48.85])

In [ ]:
# H0: hourly wage = $30/hr
# H1: hourly wage <> $30/hr -- The claim

In [69]:
# Your code here:

from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly, 30)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95

In [ ]:
# As the p value is drastically less than 0.05, we can reject H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [151]:
police = data['Annual Salary'][(data['Department']=='POLICE')& (data['Annual Salary'].isna()==False)]
police = police.str.replace('$','', regex=True)
police = pd.to_numeric(police)
police = np.array(police)
police

array([104628., 111474., 104628., ...,  48078.,  87006.,  93354.])

In [ ]:
# H0: hourly wage <= $86000
# H1: hourly wage > $86000 -- The claim

In [78]:
# Your code here:
stat, pval = ttest_1samp(police, 86000)

print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  2.4100985740030478e-36

In [ ]:
# As the p value is less than 0.05, we can reject H0. The police cheif's claim is accurate

Using the `crosstab` function, find the department that has the most hourly workers.

In [148]:
# Your code here:
h_rate = data.loc[data['Salary or Hourly'] == 'Hourly']
# data_crosstab = pd.crosstab(h_rate['Department'],h_rate['Salary or Hourly'], margins = True)
# data_crosstab.sort_values(by ='Hourly', ascending=False)
data_crosstab = pd.crosstab(h_rate['Department'],h_rate['Salary or Hourly'], margins = False)
data_crosstab.sort_values(by='Hourly', ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1873
WATER MGMNT              1512
OEMC                     1212
AVIATION                 1056
GENERAL SERVICES          767
TRANSPORTN                707
FAMILY & SUPPORT          300
PUBLIC LIBRARY            224
CITY COUNCIL               52
LAW                        44
FINANCE                    43
POLICE                     32
ANIMAL CONTRL              16
CULTURAL AFFAIRS           10
BUSINESS AFFAIRS            8
MAYOR'S OFFICE              7
COMMUNITY DEVELOPMENT       4
PROCUREMENT                 4
HEALTH                      4
CITY CLERK                  3
FIRE                        2
HUMAN RESOURCES             1
BUDGET & MGMT               1
TREASURER                   1

In [ ]:
# Streets & San is the department with the most hourly rate

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [124]:
# Your code here:
s_s = data['Hourly Rate'][(data['Salary or Hourly']=='Hourly')& (data['Department']=='STREETS & SAN')]
s_s = s_s.str.replace('$','', regex=True)
s_s = pd.to_numeric(s_s)
s_s = np.array(s_s)

array([35.6 , 20.77, 35.6 , ..., 36.21, 21.43, 36.21])

In [ ]:
# H0: hourly wage >= $35
# H1: hourly wage < $35 -- The claim

In [127]:
stat, pval = ttest_1samp(s_s, 35)

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   -7.172610090911691
pvalue for the one-tailed test is  5.276243152130208e-13

In [ ]:
# As the p value is less than 0.05, we can reject H0. The average hourly wage is less than $35

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [145]:
# Your code here:
hourly = data.loc[data['Salary or Hourly'] == 'Hourly']
hourly = hourly['Hourly Rate']
hourly = hourly.str.replace('$','', regex = True)
hourly = pd.to_numeric(hourly)
hourly = np.array(hourly)
#hourly

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly) - 1  # or, for large values of sample size(>30), just use that
sample_mean = np.mean(hourly)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (32.600503194325306, 33.13588143081741) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [133]:
# Your code here:
police = data['Annual Salary'][(data['Department']=='POLICE')& (data['Annual Salary'].isna()==False)]
police = police.str.replace('$','', regex=True)
police = pd.to_numeric(police)
police = np.array(police)
#police

confidence_level = 0.95
degrees_freedom = len(police) - 1  # or, for large values of sample size(>30), just use that
sample_mean = np.mean(police)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (87549.78923170577, 88122.26146607645) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: